@charset "utf-8";

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #2b90d9;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --green-light-color: #7fb77e;
  --green-middle-color: #43a341;
  --green-dark-color: #0a4600;

  /* Size */
  --padding: 12px;

  /* Font Size */
  --font-large: 60px;
  --font-midium: 50px;
  --font-small: 25px;
  --font-micro: 10px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}
ul {
  list-style: none;
  padding-left: 0px;
}

/* header */
header .logo {
  padding-top: 10px;
  padding-left: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--padding);
}

header .nav {
  display: flex;
  margin-inline: 30px;
  margin-top: 50px;
  font-size: var(--font-small);
  margin-bottom: 45px;
}

#introduceMenu {
  font-weight: bolder;
}

header .menu {
  display: flex;
  padding-right: 60px;
}

header li {
  padding-left: 60px;
  padding-block: 5px;
}

a {
  text-decoration-line: none;
}

a:link {
  color: var(--black-color);
}

a:visited {
  color: var(--black-color);
}

.logIn {
  background-color: var(--green-light-color);
  padding-inline: 30px;
  padding-block: 5px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.logIn a:link {
  color: var(--white-color);
}

.logIn a:visited {
  color: var(--white-color);
}

.login_content {
  text-align: center;
  margin: 100px;
}

.outer {
  border: 6px solid royalblue;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  overflow-x: hidden;
}

.inner-list {
  display: flex;
  transition: 0.3s ease-out;
  height: 100%;
}

.inner {
  border: 6px solid olive;
  padding: 0 16px;
}

.button-list {
  text-align: center;
}

.news {
    text-align: center; 
}

.gall {
    text-align: center; 
}

.footer {
    display: grid;
    grid-template-columns: 750px 350px;
    grid-template-rows: 70px 50px 50px 50px;
    background-color: #7fb77e;
    text-align: center; 
}

.footer-logo {
    grid-row-start: 1;
    grid-row-end: 3;  
    color:#fff; 
    text-align: right; 
    margin-right: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding-top: 40px; 
    padding-left: 550px; 
}

.logo-1 {
    font-size: 50px; 
    text-align: left; 
}

.logo-img {
    align-content: left;
}

.logo-2 {
    font-size: 10px; 
}

.footer-info {
    grid-row-start: 2; 
    grid-row-end: 4; 
    color: #fff;
    font-size: 13px;
    text-align: left; 
    margin-bottom: 100px; 
}

.insta {
    padding: 5px; 
}

.address {
    padding: 5px; 
}

.mail {
    padding: 5px; 
}

.footer-setting {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5; 
    padding-top: 50px; 
    padding-left: 220px; 
}

.setting-btn {
    background-color: transparent;
    border: none;
    width: 5px; 
}